<ion-nav-bar class="navi-bar" >
   <ion-nav-buttons side="left">  
       <button class="button  button-icon light icon icon-left ion-navicon" menu-toggle="left" ></button>  
 </ion-nav-buttons>
</ion-nav-bar>
   <ion-header-bar class="bar bar-header bar-calm">
    
        <div style="color: #FFFFFF;text-align: center;" class="title">BUY MEDICINE</div>
   </ion-header-bar>
<ion-content>
	<div class="list list-inset">
			<label id = "rounded" class="item item-input">
			<i class="icon ion-ios-search"></i>
			
			<input type="Search" placeholder="Medicine Search Search" ng-model="searchText.patientName" id="searchField" value=searchText.patientName>
			<!-- <button class="button button-balanced" ng-click="searchButtonClicked()">Search</button> -->
			</label>
			<div style="z-index: 1;" class="list" ng-show="searchText.patientName.length">
				<ul>
					<li class="item" ng-repeat="item in buyMedicineList | filter:searchText:strict" ng-click="patientSelected(item)"> {{item.patientName}}</li>
				</ul>
       		 </div>
	</div>
</ion-content>
