<ion-view hide-nav-bar="false" class="bar-balanced">
<ion-nav-bar class="navi-bar" >
   <ion-nav-buttons side="left">  
       <button class="button  button-icon light icon icon-left ion-navicon" menu-toggle="left" ></button>  
 </ion-nav-buttons>
</ion-nav-bar>
   <ion-header-bar class="bar bar-header" style="background-color:{{appTheme}}">
    
        <div style="color: #FFFFFF;text-align: center;" class="title">BUY MEDICINE</div>
   </ion-header-bar>
<ion-content>
<div id="centerAlign_LR">
    <div class="list list-inset">
      <label id = "rounded" class="item item-input">
      <i class="icon ion-ios-search"></i>
      
      <input type="Search" placeholder="Medicine Search" ng-model="searchText.patientName" id="searchField" value=searchText.patientName ng-change="OnTextChange()">
      <!-- <button class="button button-balanced" ng-click="searchButtonClicked()">Search</button> -->
      </label>
      <div style="z-index: 1;" class="list" ng-show="searchText.patientName.length">
        <ul>
          <li class="item" ng-repeat="item in patientsList | filter:searchText.patientName:strict" ng-click="patientSelected(item.patientName)"> {{item.patientName}}</li>
        </ul>
           </div>
    </div>
	<label class="item item-input item-select" id="spinnerAlign_LR"; style="color:#000000; margin-top:30px;">
                <div class="input-label" >
                  Home Checkup Machine
                </div>
          <select ng-model="data.vaccineType">
            <option>BP Monitor</option>
            <option selected>Sugar Test Kit</option>
            <option>Digital Weight Scale</option>
            <option>Glucometer</option>
            <option>Pulse Oximeters</option>
            <option>Thermometer</option>
          </select>
        </label>
	
      <button class="button button-calm " style="margin-top:50px; margin-bottom:30px; width:170px; height:50px;" ng-click="getPhoto()">Upload Prescription</button>
       <img ng-src="{{imageURI}}" class="center_img"  style="
                     width: 160px; height: 160px; margin-top:100px;" >
      <button class="button button-block button-balanced" style="margin-top:210px; margin-bottom:30px" ng-click="addDetails(data)">Buy</button>
      
        </div>
</ion-content>
</ion-view>