<ion-view hide-nav-bar="true">
   <ion-header-bar class="bar bar-header bar-calm">
    <button class="button button-icon icon ion-android-arrow-back" style="color: #E4E4E4" ng-click="goBack()"></button>
    <div style="color: #FFFFFF;text-align: center;" class="title">Doctor Search</div>
   </ion-header-bar>
   <ion-content>
    <ion-list>
   <ion-item-borderless ng-repeat = "doctor in doctorsList" ng-click="goToDoctorProfileScreen()">
   <div class="card" style=" padding:10px; ">
   	<div class="row">
   		<div class="col-15 col-center">
   			<div padding="false" class="item item-avatar">
        		<img style="width:100%; height:100%; max-width: 60px; max-height: 60px; padding:5px;" src="{{doctor.profilePic}}">
      		</div>
   		</div>
   		<div class="col-60 col-center">
   			<div style="color:#0A08A7;font-weight:bold;">DR. {{doctor.doctorName}}</div>
   			<div style="color:#FF5733;">{{doctor.education}}</div>
      		<div style="color:#08A770;">{{doctor.specialist}}</div>
   		</div>
      	<div class="col-25 col-center" style=""><ionic-ratings ratingsobj='doctor.rating' index='0'></ionic-ratings></div>
    </div>
   </div>
   </ion-item-borderless>
</ion-list>
   
   </ion-content>
