<ion-view hide-nav-bar="true">
   <ion-header-bar class="bar bar-header bar-calm">
   <button class="button button-icon icon ion-android-arrow-back" style="color: #E4E4E4" ng-click="goBackToHome()"></button>
        <div style="color: #FFFFFF;text-align: center;" class="title">Forgot Password</div>
   </ion-header-bar>

   <ion-content scroll="false">
<!-- <div>
   	<img src="img/AppLogo.jpeg" class="centerImage">
	<p class="centerText"><span style="color: #d62304; font-size: 25px;font-weight: bold;">Book</span><span style="color: #11c1f3; font-size: 25px;font-weight: bold;">Doctor</span></p>
<div class="list card" id="centerCard">
		  <div class="item item-body" align="center">     
		     <input type="Mobile" placeholder="Enter your Mobile Number" id="loginInput" maxlength="10" style="height: 35px">
		     	<p class="centerText" style="color: #000000">OR</span></p>
		     <input type="Email" placeholder="Enter your Email Address" id="loginInput" style="height: 35px" >
		     <button class="button button-calm" ng-click="submitForgotPassword(mobileNum,emailid)" style="width: 70%;margin-top:10px;">Confirm</button>
		  </div>
	</div>
	</div>
 -->
<form name="dataForm" novalidate="" >
 <div>
   	<img src="img/AppLogo.jpeg" class="centerImage">
	<p class="centerText"><span style="color: #d62304; font-size: 25px;font-weight: bold;">Book</span><span style="color: #11c1f3; font-size: 25px;font-weight: bold;">Doctor</span></p>
<div class="list card" id="centerCard">
		  <div class="item item-body" align="center">     
		     <input type="Mobile" placeholder="Enter your Mobile Number" id="loginInput" maxlength="10" style="height: 35px" ng-model="data.mobile"  ng-minlength="10" ng-maxlength="10" required>
		     <div class="error-container" ng-show="dataForm.mobile.$invalid && dataForm.mobile.$touched" ng-messages="dataForm.mobile.$error">
                  <div ng-message="required" >Mobile Number is required and must be 10 digits.</div>
               </div>
		     	<p class="centerText" style="color: #000000">OR</span></p>
		     <input type="Email" placeholder="Enter your Email Address" id="loginInput" style="height: 35px"
		     ng-model="data.mail" required >
		     <div class="error-container" ng-show="dataForm.mail.$invalid  && dataForm.fullname.$touched" ng-messages="dataForm.mail.$error">
                  <div ng-message="required">Mail ID is required.</div>
                  <div ng-message="email">Your email address is invalid</div>               
                  </div>
		     <button class="button button-calm" ng-click="submitForgotPassword(mobileNum,emailid)" style="width: 70%;margin-top:10px;">Confirm</button>
		  </div>
	</div>
	</div>
</form>

<!-- <form name="dataForm" novalidate="" >

<label class="item item-input item-floating-label animated fadeInLeft" ng-class="{ 'has-errors' : dataForm.mobile.$invalid && dataForm.mobile.$touched, 'no-errors' : dataForm.mobile.$valid}">
               <span class="input-label">Mobile</span>
               <input type="mobile" name="mobile" placeholder="Mobile" ng-model="data.mobile"  ng-minlength="10"                 ng-maxlength="10" required>
               </label>
               <div class="error-container" ng-show="dataForm.mobile.$invalid && dataForm.mobile.$touched" ng-messages="dataForm.mobile.$error">
                  <div ng-message="required" >Mobile Number is required and must be 10 digits.</div>
               </div>

 <label class="item item-input item-floating-label animated fadeInLeft" ng-class="{ 'has-errors' : dataForm.mail.$invalid  && dataForm.fullname.$touched, 'no-errors' : dataForm.mail.$valid}">
               <span class="input-label">Mail</span>
               <input type="email" name="mail" placeholder="mail" ng-model="data.mail" required>
               </label>
               <div class="error-container" ng-show="dataForm.mail.$invalid  && dataForm.fullname.$touched" ng-messages="dataForm.mail.$error">
                  <div ng-message="required">Mail ID is required.</div>
                  <div ng-message="email">Your email address is invalid</div>               
                  </div>

<button class="button button-balanced" type="submit" style="width: 70%;" ng-click="submitForgotPassword(dataForm)"> Sign Up </button>

</form> -->

   </ion-content>
</ion-view>