<ion-view hide-nav-bar="true">
   <ion-header-bar class="bar bar-header bar-calm">
   <button class="button button-icon icon ion-android-arrow-back" style="color: #E4E4E4" ng-click="goBackToHome()"></button>
        <div style="color: #FFFFFF;text-align: center;" class="title">FORGOT PASSWORD</div>
   </ion-header-bar>

   <ion-content scroll="false">
<!-- <div>
   	<img src="img/AppLogo.jpeg" class="centerImage">
	<p class="centerText"><span style="color: #d62304; font-size: 25px;font-weight: bold;">Book</span><span style="color: #11c1f3; font-size: 25px;font-weight: bold;">Doctor</span></p>
<div class="list card" id="centerCard">
		  <div class="item item-body" align="center">     
		     <input type="Mobile" placeholder="Enter your Mobile Number" id="loginInput" maxlength="10" style="height: 35px">
		     	<p class="centerText" style="color: #000000">OR</span></p>
		     <input type="Email" placeholder="Enter your Email Address" id="loginInput" style="height: 35px" >
		     <button class="button button-calm" ng-click="submitForgotPassword(mobileNum,emailid)" style="width: 70%;margin-top:10px;">Confirm</button>
		  </div>
	</div>
	</div>
 -->
  <div class="background-image"></div>
   <div class="content">
<form name="dataForm" ng-submit="submitForgotPassword(dataForm,data)" novalidate="" >
   <div>
   	<img src="img/AppLogo.png" class="centerImage">
	   <p class="centerText">
            <span style="color: #d62304; font-size: 25px;font-weight: bold;">Book</span>
            <span style="color: #11c1f3; font-size: 25px;font-weight: bold;">Doctor</span>
      </p>
      <div class="list card" id="centerCard" style="width: 75%;margin-left: auto;margin-right: auto;">
		  <div class="item item-body" align="center"> 
          <label class="item item-input item-floating-label animated fadeInLeft" ng-class="{ 'has-errors' : dataForm.mobile.$invalid && dataForm.mobile.$touched , 'no-errors' : dataForm.mobile.$valid}">
               <span class="input-label">Mobile number</span>
               <input type="number"  style="height: 35px" name="mobile" placeholder="Enter your Mobile Number" ng-model="data.mobile" ng-minlength="10" ng-maxlength="10" required>
               </label>
            

               <div class="error-container">
                  <div ng-show="dataForm.mobile.$error.required" >Please enter your mobile number if you opt message</div>
                  <div ng-show="dataForm.mobile.$error.minlength" >Not a valid mobile number</div>
                  <div ng-show="dataForm.mobile.$error.maxlength">Not a valid mobile number</div>
               </div> 

               <p class="centerText" style="color: #000000">OR</p>

               <label class="item item-input item-floating-label animated fadeInLeft" ng-class="{ 'has-errors' : dataForm.email.$invalid && dataForm.email.$touched , 'no-errors' : dataForm.email.$valid}">
               <span class="input-label">Email</span>
               <input type='email' validate-email style="height: 35px" name="email" placeholder="Enter your Email" ng-model="data.email" ng-minlength="10" ng-maxlength="40" required>
               </label>
            

               <div class="error-container">
                  <div ng-show="dataForm.email.$error.required" >Please enter your mailId if you opt Email</div>
                  <div ng-show="dataForm.email.$error.email" >Not a valid email</div>
                  <div ng-show="dataForm.email.$error.maxlength">Not a valid mobile number</div>
               </div> 


                    <!-- NAME -->
          <!--  <div id="name-group" class="form-group-lg" ng-class="{ 'has-error' : formData.data.mobile.$invalid && !formData.data.mobile.$pristine }">
               <input type="mobile" ng-required="true" name="mobile" ng-model="data.mobile" class="form-control" placeholder="Enter your Mobile Number" id="loginInput" minlength="10" maxlength="10" style="height: 35px" required>
            <div class="error-container">
               <div ng-show="formData.data.mobile.$error.required" >Patient's Name is required.</div>
              </div> 
         </div> -->    

		    <!--  <input type="Mobile" placeholder="Enter your Mobile Number" id="loginInput" maxlength="10" style="height: 35px" ng-model="data.mobile"  ng-minlength="10" ng-maxlength="10" required>
		     <div class="error-container" ng-show="dataForm.mobile.$invalid && dataForm.mobile.$touched" ng-messages="dataForm.mobile.$error">
                  <div ng-message="required" >Mobile Number is required and must be 10 digits.</div>
           </div>
		     <p class="centerText" style="color: #000000">OR</p>
		     <input type="Email" placeholder="Enter your Email Address" id="loginInput" style="height: 35px"
		     ng-model="data.mail" required>
		     <div class="error-container" ng-show="dataForm.mail.$invalid  && dataForm.fullname.$touched" ng-messages="dataForm.mail.$error">
                  <div ng-message="required">Mail ID is required.</div>
                  <div ng-message="email">Your email address is invalid</div>               
            </div> -->
		     <button type = "submit" class="button button-assertive" style="width: 70%;margin-top:10px;">Confirm</button>
   	  </div>
   	</div>
   </div>
</form>
</div>
<!-- <form name="dataForm" novalidate="" >

<label class="item item-input item-floating-label animated fadeInLeft" ng-class="{ 'has-errors' : dataForm.mobile.$invalid && dataForm.mobile.$touched, 'no-errors' : dataForm.mobile.$valid}">
               <span class="input-label">Mobile</span>
               <input type="mobile" name="mobile" placeholder="Mobile" ng-model="data.mobile"  ng-minlength="10"                 ng-maxlength="10" required>
               </label>
               <div class="error-container" ng-show="dataForm.mobile.$invalid && dataForm.mobile.$touched" ng-messages="dataForm.mobile.$error">
                  <div ng-message="required" >Mobile Number is required and must be 10 digits.</div>
               </div>

 <label class="item item-input item-floating-label animated fadeInLeft" ng-class="{ 'has-errors' : dataForm.mail.$invalid  && dataForm.fullname.$touched, 'no-errors' : dataForm.mail.$valid}">
               <span class="input-label">Mail</span>
               <input type="email" name="mail" placeholder="mail" ng-model="data.mail" required>
               </label>
               <div class="error-container" ng-show="dataForm.mail.$invalid  && dataForm.fullname.$touched" ng-messages="dataForm.mail.$error">
                  <div ng-message="required">Mail ID is required.</div>
                  <div ng-message="email">Your email address is invalid</div>               
                  </div>

<button class="button button-balanced" type="submit" style="width: 70%;" ng-click="submitForgotPassword(dataForm)"> Sign Up </button>

</form> -->

   </ion-content>
</ion-view>