<ion-view hide-nav-bar="false">
 <!-- Modal for entering medicines -->
    <ion-nav-bar class="navi-bar" >
      <ion-nav-buttons side="left">  
         <button class="button  button-icon light icon icon-left ion-navicon" menu-toggle="left" ></button>  
      </ion-nav-buttons>
   </ion-nav-bar >
  <script id="create-patientReportModal.html" type="text/ng-template">
    <ion-modal-view>
     <form novalidate>
      <ion-header-bar class="bar bar-header bar-calm" style="background-color:{{appTheme}};background-image:none;">
        <h1 class="title" style="text-align: center;">Medical History</h1>
        <button class = "button button-icon icon-right ion-ios-close-outline"
            ng-click = "closeModal()"></button>
      </ion-header-bar>
      <ion-content >
      
        <div class="col"><input type="text" placeholder="Heart Rate       ie 193/min" id="medicalHistoryInputTagStyle" ng-model="heartRate"></div>
        <div class="col"><input type="text" placeholder="BP       ie 120/80" id="medicalHistoryInputTagStyle" ng-model="bp"></div>
         <div class="col"><input type="text" placeholder="Blood Glucose       ie 120/80" id="medicalHistoryInputTagStyle" ng-model="bg"></div>
         <div class="col"><input type="text" placeholder="BMI       ie 18" id="medicalHistoryInputTagStyle" ng-model="bmi"></div>
          <div class="col"><input type="text" placeholder="Body Weight      in Kg   ie 50kg" id="medicalHistoryInputTagStyle" ng-model="bodyweight"></div>
           <div class="col"  ><input type="text" placeholder="Body Fat Percentage     ie %  ie 20%" id="medicalHistoryInputTagStyle" ng-model="bodyfat"></div>

       <div id="wrapper"class="col"><button id="wrapperbutton" ng-click="closeModal()" class="button button-balanced" > Submit
       </button> </div>
      </ion-content>
      </form>
    </ion-modal-view>
  </script>

    <ion-header-bar class="bar bar-header bar-calm" style="background-color:{{appTheme}};background-image: none;">
     <!--  <button class="button button-icon icon ion-android-arrow-back" style="color: #E4E4E4" ng-click="goBack()"></button> -->
      <div style="color: #FFFFFF;text-align: center;" class="title">Medical History</div>
    </ion-header-bar>
    <ion-content ng-init="readData()">
   <!--  <div style="background-color: #515561;" class="row" ng-repeat="profileObject in patientDetails">
      <div class = "col1" style="width:175px;margin-left:75px; color: #FFFFFF;">
        <div padding="false" class="item-avatar" >
        <img style="margin-left:75px; width:50px ; height:50px; max-width: 60px; max-height: 60px ;" ng-src={{profileObject.imageUrl}}>
        </div>
        <div>
        <div style="text-transform: uppercase;">{{profileObject.name}}</div>
        <div>{{profileObject.Gender}} {{profileObject.Age}} years</div>
        <div>DOB: {{profileObject.DOB}}</div>
        </div>
      </div>
      <div class = "col2" style="width:220px;margin-top:35px;color: #FFFFFF;">
        <div padding="false">Patient ID : {{profileObject.patient_id}}</div>
        <div>BG: {{profileObject.BloodGroup}}</div>
        <div style="margin-left:-30px;"><img width="20px" height="20px" align="left" style="margin-right: 5px;" ng-src="img/Location.png"/></div><div>{{profileObject.Address}}</div>
        <div>{{profileObject.Street}}</div>
         <div>{{profileObject.Locality}}</div>
        <div>{{profileObject.City}}</div>
      </div>
      <div class = "col3" style="width:120px;margin-top:35px;color: #FFFFFF;">
        <div>
          <img width="20px" height="20px" align="left" style="margin-right: 5px;" ng-src="img/Phone.png"/>
          {{profileObject.mobile}}
        </div>
        <br>
         <div>
          <img width="40px" height="40px" ng-src="img/Video.png"/>
        </div> 
      </br>
      </div>
    </div> -->
    <div class="text-center" style="font-weight:bold; color:#06a8a1; background-color:#FDFFFF; margin-top:10px; margin-bottom:10px;">Dashboard</div>
   
    <div class = "col col-100">
      <div  style="background-color:#EAEAEA;">
      <div class = "row">
        <div class = "col col-50" style="padding:0!important;">
          <div class="card" style="background-color:#FFFFFF;">
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;" class="item">Heart Rate</div>
              </div>
              <div class = "col">
                <div style="padding:0!important;" class="item">Feb22, 2:14 PM</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;" class="item item-text-wrap">
                  <canvas id="line" class="chart chart-line" chart-data="heartdata" chart-labels="heartlabels" chart-legend="true" chart-series="series" height="75" chart-options="{showTooltips: true}"></canvas>
                </div>      
              </div>
              <div class = "col">
                <div style="padding:0!important;font-weight: bold;" class="item">95<br>beats/min</br></div>
             </div>
            </div>
          </div>
        </div>
         <div class = "col col-50" style="padding:0!important;">
          <div class="card" style="background-color:#FFFFFF;">
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;" class="item">Blood Pressure</div>
              </div>
              <div class = "col">
                <div style="padding:0!important;margin-left:10px"class="item">Feb22, 2:14 PM</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;" class="item item-text-wrap">
                  <canvas id="line" class="chart chart-line" chart-data="bpdata" chart-labels="bplabels" chart-legend="true" chart-series="series" height="75" chart-options="{showTooltips: true}"></canvas>
                </div>      
              </div>
              <div class = "col">
                <div style="padding:0!important;font-weight:bold;"class="item">113/76<br>mmahg</br></div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class = "row">
        <div class = "col col-50" style="padding:0!important;">
          <div class="card" style="background-color:#FFFFFF;">
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item">Blood Glucose</div>
              </div>
              <div class = "col">
                <div style="padding:0!important;"class="item">Feb22, 2:14 PM</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item item-text-wrap">
                  <canvas id="line" class="chart chart-line" chart-data="bgdata" chart-labels="bglabels" chart-legend="true" chart-series="series" height="75" chart-options="{showTooltips: true}"></canvas>
                </div>      
              </div>
              <div class = "col">
                <div style="padding:0!important;font-weight: bold;"class="item">76<br>mmhol</br></div>
              </div>
            </div>
          </div>
        </div>
         <div class = "col col-50" style="padding:0!important;">
          <div class="card" style="background-color:#FFFFFF;">
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item">Body Weight</div>
              </div>
              <div class = "col">
                <div style="padding:0!important;"class="item">Oct20, 2016 11.27 AM</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item item-text-wrap">
                  <canvas id="line" class="chart chart-line" chart-data="bwdata" chart-labels="bwlabels" chart-legend="true" chart-series="series" height="75" chart-options="{showTooltips: true}"></canvas>
                </div>      
              </div>
              <div class = "col">
                <div style="padding:0!important;font-weight: bold;"class="item">58<br>Kg</br></div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class = "row">
        <div class = "col col-50" style="padding:0!important;">
          <div class="card" style="background-color:#FFFFFF;">
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item">BMI</div>
              </div>
              <div class = "col">
                <div style="padding:0!important;"class="item">Feb22, 2:14 PM</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item item-text-wrap">
                  <canvas id="line" class="chart chart-line" chart-data="bmidata" chart-labels="bmilabels" chart-legend="true" chart-series="series" height="75" chart-options="{showTooltips: true}"></canvas>
                </div>      
              </div>
              <div class = "col">
                <div style="padding:0!important;font-weight: bold;"class="item">95<br>BMI</br></div>
             </div>
            </div>
          </div>
        </div>
         <div class = "col col-50" style="padding:0!important;">
          <div class="card" style="background-color:#FFFFFF;">
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item">Body Fat Percentage</div>
              </div>
              <div class = "col">
                <div style="padding:0!important;"class="item">Oct20, 2016</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col">
                <div style="padding:0!important;"class="item item-text-wrap">
                  <canvas id="line" class="chart chart-line" chart-data="bfpdata" chart-labels="bfplabels" chart-legend="true" chart-series="series" height="75" chart-options="{showTooltips: true}"></canvas>
                </div>      
              </div>
              <div class = "col">
                <div style="padding:0!important;font-weight: bold;"class="item">28<br>%</br></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
      </div>
  
      </ion-content>
      <ion-floating-button  ng-click="openModal()"has-footer="false" button-color="#cd3571" icon="ion-plus" icon-color="#fff">
</ion-floating-button>
</ion-view>