<ion-view hide-nav-bar="true">
   <ion-header-bar class="bar bar-header bar-calm">
        <div style="color: #FFFFFF;text-align: center;" class="title">HOME</div>
   </ion-header-bar>
   <ion-content>
   <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 

   	<br>
   	<button class="button button-block button-calm" ng-click="goToProfile()" style="width: 250px;margin-left: auto;margin-right: auto;">Patient Profile </button>
   	<br>
   	<br>
   	<button class="button button-block button-calm" ng-click="goToDoctorProfile()" style="width: 250px;margin-left: auto;margin-right: auto;">Doctor Profile </button>
   </ion-content>
</ion-view>

