<ion-view hide-nav-bar="false" class="bar-balanced">
 <ion-nav-bar class="navi-bar" >
      <ion-nav-buttons side="left">  
         <button class="button  button-icon light icon icon-left ion-navicon" menu-toggle="left" ></button>  
      </ion-nav-button>
         </ion-nav-bar >
   <ion-header-bar class="bar bar-header" style="background-color:{{appTheme}}">
   <!--   <button class="button button-icon icon ion-android-arrow-back" style="color: #E4E4E4" ng-click="goBack()"></button> -->
        <div style="color: #FFFFFF;text-align: center;" class="title">Lab Results</div>
   </ion-header-bar>

    <script id="labResultModal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm" style="background-color:{{appTheme}}">
          <h1 class="title" style="text-align: center;">Lab Report</h1>
           <button class = "button icon icon-right ion-ios-close-outline" style="background-color:{{appTheme}}"
            ng-click = "closeLabResultModal()"></button>
        </ion-header-bar>
        <ion-content>
          <button class="button button-assertive" style="float: right;margin-top: 10px;margin-right: 10px;" ng-click="print(selectedResultSource)">Print</button>
          <img ng-src="{{selectedResultSource}}" class="centerImage" style="width: 80%; height: 70%">
        </ion-content>
      </ion-modal-view>
    </script>

    <ion-tabs class="tabs-balanced tabs-icon-left" >
    
      <ion-tab title="History">
        <ion-view>
          <ion-content >
            <div class="row" ng-repeat="person in persons" ng-if="$index % 4 === 0" >
              <div class="col col-25"  ng-if="$index < persons.length" >
                <div class="card" style="background-color:#db5a3d;height:375px;" ng-click="openLabResult(persons[$index].src)">
                  <div class="card-image">
                      <img ng-src="{{persons[$index].src}}" width="100%" height="340" />
                  </div>
                  <div class="card-title">                  
                    <p style="color:white;text-align:center;">{{persons[$index].date}}{{" "+persons[$index].time}}</p>
                  </div>
                </div>
              </div>
              <div class="col col-25"  ng-if="$index < persons.length" >
                <div class="card" style="background-color:#db5a3d;height:375px;" ng-click="openLabResult(persons[$index+ 1].src)">
                  <div class="card-image">
                    <img ng-src="{{persons[$index + 1].src}}" width="100%"height="340" />
                  </div>
                  <div class="card-title">                  
                    <p style="color:white; text-align:center;"> {{persons[$index+1].date}}{{" "+persons[$index+1].time}}</p>
                  </div>
                </div>
              </div>
              <div class="col col-25"  ng-if="$index < persons.length" >
                <div class="card" style="background-color:#db5a3d;height:375px;" ng-click="openLabResult(persons[$index+2].src)">
                  <div class="card-image">
                    <img ng-src="{{persons[$index + 2].src}}" width="100%"height="340" />
                  </div>
                  <div class="card-title">                  
                    <p style="color:white; text-align:center;"> {{persons[$index+2].date}}{{" "+persons[$index+2].time}}</p>
                  </div>
                </div>
              </div>
              <div class="col col-25"  ng-if="$index < persons.length" >
                <div class="card" style="background-color:#db5a3d;height:375px;" ng-click="openLabResult(persons[$index+2].src)">
                  <div class="card-image">
                    <img ng-src="{{persons[$index + 2].src}}" width="100%"height="340" />
                  </div>
                  <div class="card-title">                  
                    <p style="color:white; text-align:center;"> {{persons[$index+2].date}}{{" "+persons[$index+3].time}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
  </ion-tabs>
</ion-view>