<ion-view hide-nav-bar="false" class="bar-calm" title="Patient Profile" color="#FFF">

   <ion-header-bar class="bar bar-header bar-calm">
        <div style="color: #FFFFFF;text-align: center;" class="title">Patient Profile</div>
   </ion-header-bar>
   <ion-content>
   <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="General" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline"><!-- Tab 1 content --></ion-tab>
      <ion-tab title="Prescription" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline"><!-- Tab 2 content --></ion-tab>
      <ion-tab title="Allergies" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline"><!-- Tab 3 content --></ion-tab>
      <ion-tab title="Visits" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline"><!-- Tab 3 content --></ion-tab>
    </ion-tabs>

   <div  class="card">
   <div  class="row">
  <div class = "col1" style="margin-left:75px; "> 
        <div padding="false" class="item-thumbnail" >
        <img style="margin-left:75px; margin-top:10px;width:100% ; height:100%; max-width: 90px; max-height: 90px ;" src="http://ionicframework.com/img/docs/mcfly.jpg">
        </div>
        </div>
        <div class = "col2" style="margin-left:75px;">
        <div  class="item item-divider"><h4>General Details</h4></div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
       		 <div >Patient Name: </div>
       		  <div style="font-style:italic;margin-left:5px;">Johnson</div>
        </div>
        <div class="row" style="margin-bottom:5px;"> 
       		 <div>Patient ID: </div>
       		 <div style="font-style:italic;margin-left:5px;">P130412</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
             <div>Gender: </div>
              <div style="font-style:italic;margin-left:5px;">Male</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
             <div>MMH ID : </div>
             <div style="font-style:italic;margin-left:5px;">11122</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
             <div>Age: </div>
             <div style="font-style:italic;margin-left:5px;">33 Years</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
             <div>Date of Birth: </div>
             <div style="font-style:italic;margin-left:5px;">Jul 14,1988</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
             <div>Blood Group: </div>
             <div style="font-style:italic;margin-left:5px;">O+ve</div>
        </div>
      <div  class="item item-divider"><h4>Contact Details</h4></div>
      <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div>Primary Mobile No:</div>
        <div style="font-style:italic;margin-left:5px;">9945344554</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div>Secondary Mobile No:</div>
        <div style="font-style:italic;margin-left:5px;">9945344579</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div>Email: </div>
        <div style="font-style:italic;margin-left:5px;">rajadesingh@gmail.com</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div>Street Address: </div>
        <div style="font-style:italic;margin-left:5px;">#13, 5th Main 15th Cross</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div>Locality: </div>
         <div style="font-style:italic;margin-left:5px;">K K Nagar</div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:15px;">
    	 <div>City: </div>
        <div style="font-style:italic;margin-left:5px;">Chennai</div>
    	 </div>
        </div>
      </div>
      </div>
   </ion-content>
</ion-view>