<ion-view hide-nav-bar="false" class="bar-balanced">
<ion-nav-bar class="navi-bar" >
   <ion-nav-buttons side="left">  
       <button class="button  button-icon light icon icon-left ion-navicon" menu-toggle="left" ></button>  
 </ion-nav-buttons>
</ion-nav-bar>
   <ion-header-bar class="bar bar-header" style="background-color:{{appTheme}}">
    
        <div style="color: #FFFFFF;text-align: center;" class="title">Preference</div>
   </ion-header-bar>
<ion-content>
<div id="centerAlign_LR"> 
      <div style="margin-top:10px;" >sample text</div>      
        </div>
</ion-content>
</ion-view>