/* Empty. Add your own CSS if you like */
.centerImage {
	display: block;
    margin-left: auto;
    margin-right: auto
}
.centerText {
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 15px;
    text-align: center;
}
.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 100px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 3px solid green;
}
#centerCard {
	  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width:50%;
    height:40%;
    opacity: 0.85;
}
#loginInput {
    background: #FFFFFF;
    color: black;
    border: solid 1px #11c1f3;
    text-align: center;
    width: 70%;
    margin-top: 10px;
}

/*Slide menu nav bar color change*/
.navi-bar{  
  border-color: #0a9dc7;
  background-color: #11c1f3;
}

/* Ratings Style - Start */
.ionic_ratings .read_only {
  pointer-events:none !important;
}
/*.ionic_ratings .icon {
    font-size: 20px;
  }*/
/* Ratings Style - End */

/* Doctor profile Controller - Start */
.profile_back { 
    position: relative; 
    top: 0; 
    left: 0; 
} 
.round_corner {
    position: absolute; 
    top: 75%; 
    left: 10%; 
    /*border: 3px solid #fff;
    box-shadow: 0 0 5px gray;*/
    border: 3px;
    border-radius: 90%;
    display: inline-block;
    }

.my-disable{
    pointer-events:none;
}
.review-ellipse{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.scroll {
    height: 100%;
} 
#map {
    width: 100%;
    height: 120px;
}
.center_content> *
{
     display: flex;
     align-items: center;
}
.commentsDesign {
  height:auto;
  width:100%;
  color:#999;
  min-height: 80px;
  padding: 10px;
}
.round_corner2 {
    /*border: 3px solid #fff;
    box-shadow: 0 0 5px gray;*/
    border: 3px;
    border-radius: 50%;
    }
/* Doctor profile Controller - End */

.my-disable{
    pointer-events:none;
}
#patient-profile-row-margin{
    margin-top:5px;
    margin-bottom:5px;
}

#patient-profile-row-value-margin{
	font-style:italic;
	margin-left:5px;
}

/*Testing UI*/
.sign-in-form{
    background: linear-gradient(#68edf9,#f9cfcc,#68edf9);
    background: -webkit-linear-gradient(to bottom right, #68edf9,#f9cfcc,#68edf9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right,#68edf9,#f9cfcc,#68edf9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  } 

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('../img/DoctorBackGroundImg.jpg');
  background-repeat: no-repeat;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);

  width: 100vw;
  height: 100vh;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

#map_canvas {
    width: 670px;
    height: 400px;
    background-color: #CCC;
    }
/*Buy Medicine Screen start*/
label#rounded{
border-radius:15px; 
}
#centerAlign_LR {
  width:70%;
  margin-left:auto;
  margin-right:auto;
}
/*Buy Medicine Screen end*/

.center_img {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
}
